@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
    --color-day-bg: #0984e3;
    --color-day-icon: #ffe4a1;
    --color-night-bg: #032b43;
    --color-night-icon: #b9c6d3;
    --color-light: #ffffff;
    --color-dark: #4a4a4a;
    --color-shadow-light: rgba(48, 48, 48, 0.15);
    --color-shadow-mid: rgba(0, 0, 0, 0.25);
    --color-shadow-dark: rgba(0, 0, 0, 0.9);
    --font-family: "Lato", sans-serif;
  }

  * {
    box-sizing: border-box;
  
  }

  body {
    position: relative;
  }

  .switch {
    font-family: var(--font-family);
    font-size: 2em;
    display: flex;
    justify-content: center;
  }
