* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("assets/webfont/Inter-Black.woff2") format("woff2"),
    url("assets/webfont/Inter-Black.woff?v=3.11") format("woff");
}

:root {
  --color-primary: #4c2982;
  --color-secondary: #f9d170;
  --color-bg: #f9f7f3;
  --color-text: #252525;
  --color-light: #f3f3f3;
  --color-success: #067973;
  --color-success-bg: #f5fffe;
  --color-error: #b71540;
  --color-error-bg: #fdeff3;
  --font-base-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-heading-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--color-bg);
}

body {
  display: flex;
  justify-content: center;
  position: relative;
}

h1,
label {
  color: var(--color-primary);
}

h1 {
    font-family: var(--font-heading-family);
}

label, input, p {
    font-family: var(--font-base-family);
    margin: 0;
}

label {
    font-weight: 600;
}

input, .submit {
  height: 3em;
  border: none;
}

.signup {
    position: absolute;
    top: 30%;
    width: 300px;
}

.form-input {
    /* width: min-content; */
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
    margin-top: 1em;
}

.email {
    padding: 1em;
    flex-grow: 1;
    font-weight: normal;
    color: var(--color-text);
}

.submit {
  width: 3em;
  background-color: var(--color-secondary);
}

.submit svg {
  height: 20px;
  width: 20px;
}

.error {
    margin-top: 1em;
    padding: 1em;
    color: var(--color-error);
    background-color: var(--color-error-bg);
    border: 2px solid var(--color-error);
}

.error span {
    margin: 0;
    font-weight: 700;
}

.error svg {
    height: 20px;
    width: 20px;
}

.alert {
    display: flex;
}

.alert-text {
    margin-left: .5em;
    display: flex;
    flex-direction: column;
}