* {
  box-sizing: border-box;
  font-family: "Inter";
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("assets/webfont/Inter-Black.woff2") format("woff2"),
    url("assets/webfont/Inter-Black.woff?v=3.11") format("woff");
}

:root {
  --color-primary: #4c2982;
  --color-secondary: #f9d170;
  --color-bg: #f9f7f3;
  --color-text: #252525;
  --color-light: #f3f3f3;
  --color-success: #067973;
  --color-success-bg: #f5fffe;
  --color-error: #b71540;
  --color-error-bg: #fdeff3;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--color-bg);
}

body {
  display: flex;
  justify-content: center;
  position: relative;
}

h1,
label {
  color: var(--color-primary);
}

input, .submit {
  height: 3em;
  border: none;
}

.signup {
    position: absolute;
    top: 30%;
    width: 20%;
}

.form-input {
    width: min-content;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
    margin-top: .5em;
}

.submit {
  width: 3em;
  background-color: var(--color-secondary);
}

.submit svg {
  height: 20px;
  width: 20px;
}
