*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #21223e;
  --color-primary-light: #3c3f73;
  --color-success: #0c8d87;
  --color-error: #c01332;
  --color-light: #ffffff;
}

button {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 3.75rem;
  width: 13.313rem;
  border: none;
  border-radius: 8px;
  color: var(--color-light);
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  overflow: hidden;
}

svg {
  fill: var(--color-light);
}

.default {
  background: var(--color-primary);
  cursor: pointer;
}

.loaded {
  background: var(--color-primary-light);
}

.success {
  background: var(--color-success);
}

.error {
  background: var(--color-error);
}

.button-content {
  position: absolute;
  align-items: center;
  display: flex;
  width: min-content;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.button-text {
  margin-right: 1rem;
}

#progress {
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--color-primary-light);
  height: 3.75rem;
  border-radius: 8px 0 0 8px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

