* {
    box-sizing: border-box;
}

:root {
  --color-pink: #faa7ed;
  --color-navy: #0c1f72;
  --color-navy-opaque: rgba(6, 0, 79, 0.77);
  --color-light: #ffffff;
  --color-dark: #252525;
}

#cards {
  display: flex;
}

.card {
  height: 230px;
  width: 200px;
}
