* {
    box-sizing: border-box;
}

:root {
  --color-pink: #faa7ed;
  --color-navy: #0c1f72;
  --color-navy-opaque: #06004fc4;
  --color-light: #ffffff;
  --color-dark: #252525;
  --font-serif: Georgia, serif;
}

h1 {
    margin-top: 0;
    font-weight: 400;
}

body {
    padding: 5rem 1.5rem;
    min-width: 18rem;
    font-family: var(--font-serif)
}

#container {
    margin: auto;
    width: 700px;
}

#cards {
  display: flex;
  width: min-content;
  margin-left: -20px;
  margin-top: -20px;
}

.card {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 230px;
  width: 200px;
  background-color: black;
}

.card img {
    flex-shrink: 0;
    max-width: 100%;
    filter: grayscale(1) brightness(1.1);
    transition: filter 0.2s ease-in-out;
}

.card::before, .card::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

@supports (mix-blend-mode: multiply) {
    .card::before {
        background-color: var(--color-pink);
        opacity: 1;
        mix-blend-mode: multiply;
        z-index: 1;
        width: 100%;
        transition: opacity 0.2s ease-in-out;
    }
}

@supports (mix-blend-mode: lighten) {
    .card::after {
        background-color: var(--color-navy);
        opacity: 1;
        mix-blend-mode: lighten;
        z-index: 1;
        width: 100%;
        transition: opacity 0.2s ease-in-out;
    }
}

.card:hover img {
    filter: grayscale(0) brightness(1);
}

.card:hover::before, .card:hover::after {
    opacity: 0;
}

.cover-button {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}
